header{
    text-align: center;
    font-size: 2em;
    background: antiquewhite;
    height: 100%;
}
head{
    background: antiquewhite;
    margin: 0;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

body section {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.tr{
    display: flex;
    flex-direction: column;
}

.flex-ligne {
    background: aquamarine;
    padding: 10px;
    font-size: 1.5em;

}
h1{
    padding: 20px;
    background: aliceblue;
    margin-bottom: 0;

}


header li {
    display: flex;
    list-style-type: none;
    padding: 20px;

}
header ul{

    margin: 0px;

    display: flex;
    list-style-type: none;
    padding: 20px;
    justify-content: center ;
}
header a {
    text-decoration: none;

}
.bodyclass{
    margin: 0 50px 50px 50px;
}

label img{
    max-width:100%;
    height:100px;
}



fieldset{
    padding:0 100px 0 100px;
    border: 0;
}
.left_section{
    width:100% ;
}

.empty, .empty1, .empty2, .empty3, .empty4, .empty5, .empty7{
    margin-left: 50px;
    display: grid;
}

.right{
    font-size: 50px;
    position: fixed;
    border: solid black 1px;
    margin-right: 20px;
    padding: 8px;
}
.bodyDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
/*wood pips css*/


.wood_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;

}
.wood_pips input[type=checkbox] {
    display: none;
}
.wood_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.wood_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.wood_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/wood_pips1.png");
    background-repeat: no-repeat;

}
#hide_wood{
    display: none;
}

/*bronze pips css*/

.bronze_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.bronze_pips input[type=checkbox] {
    display: none;
}
.bronze_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.bronze_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.bronze_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/bronze_pips.png");
    background-repeat: no-repeat;

}
#hide_bronze{
    display: none;
}




/*silver pips css*/

.silver_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.silver_pips input[type=checkbox] {
    display: none;
}
.silver_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.silver_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.silver_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/silver_pips.png");
    background-repeat: no-repeat;

}

#hide_silver{
    display: none;
}

/*gold_pips css*/

.gold_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.gold_pips input[type=checkbox] {
    display: none;
}
.gold_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.gold_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.gold_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/gold_pips.png");
    background-repeat: no-repeat;

}
#hide_gold{
    display: none;
}
/*platine_pips css*/

.platine_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.platine_pips input[type=checkbox] {
    display: none;
}
.platine_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.platine_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.platine_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/platine_pips.png");
    background-repeat: no-repeat;

}
#hide_platine{
    display: none;
}
/*mithril_pips css*/

.mithril_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.mithril_pips input[type=checkbox] {
    display: none;
}
.mithril_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.mithril_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.mithril_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/mithril_pips.png");
    background-repeat: no-repeat;

}
#hide_mithril{
    display: none;
}

/*diamond pips css*/


.diamond_pips {
    display: inline-block;
    background-image: url("../assets/img/WvW_Pip.png")  ;
    background-repeat: no-repeat;
}
.diamond_pips input[type=checkbox] {
    display: none;
}
.diamond_pips input[type=checkbox] + label:before {
    display: inline-block;
}
.diamond_pips input[type=checkbox] + label:before {
    content: "";
    margin-right: 1px;
    font-size: 5rem;
    height: 5rem;
    width: 20px;

}
.diamond_pips input[type=checkbox]:checked + label:before {
    background-image: url("../assets/img/diamond_pips.png");
    background-repeat: no-repeat;

}
#hide_diamond{
    display: none;
}
#countdown_wood,#countdown_bronze,#countdown_silver,#countdown_gold,#countdown_platinium,#countdown_mithril,#countdown_diamond{
    display: table-cell;
    vertical-align: middle;
}
.flex-div{
    display: flex;
}



